* {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}
html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    box-sizing: border-box;
}
#container {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(red, yellow);
}
.moon {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(30deg, #13223f, #0e1a30);
}
.moon::before {
    content: "";
    background-color: black;
    border-radius: 50%;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    animation: 15s eclipse-animation linear infinite alternate;
}
@keyframes eclipse-animation {
    0% {
        box-shadow: none;
        transform: translate(-30px, 30px) scale(0.9);
    }
    50%{
        transform: translate(0px, 0px) scale(1.02);
        box-shadow: 0 0 10px #f9f3f2, 0 0 80px 8px #C7938B;
        background-color: #efdbd8;
    }
    100% {
        transform: translate(30px, -30px) scale(0.9);
        box-shadow: none;
    }
}
@media (max-width: 768px) {
    .moon {
        width: 160px;
        height: 160px;
    }
}
.cloud {
    width: 200px;
    height: 80px;
    background-color: darkgray;
    border-radius: 40px;
    position: absolute;
}
.cloudBubble1 {
    width: 100px;
    height: 100px;
    background-color: darkgray;
    border-radius: 50px;
    position: absolute;
    top: -50px;
    left: 30px;
}
.cloudBubble2 {
    width: 60px;
    height: 60px;
    background-color: darkgray;
    border-radius: 30px;
    position: absolute;
    top: -30px;
    right: 30px;
}